extends layout 
block content 
  h1= title 
  - let Gelid = toShow._id 
  - let Gel_Name = toShow.Gel_Name
  - let Gel_Company = toShow.Gel_Company
  - let Gel_Size = toShow.Gel_Size
  - let Gel_Rating = toShow.Gel_Rating 
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Gelid} 
  - let actionid = "/resource/Gel/" + Gelid 
  form(id='GelForm', action= actionid, method="PUT") 
    div.form-group 
        label.GelAttr(for='Gel_Name') Gel Name 
        input#Gel_Name(type='text', name='Gel_Name', value= Gel_Name ) 
    div.form-group 
        label.GelAttr(for='Gel_Company') Gel Company 
        input#Gel_Company(type='text', name='Gel_Company', value= Gel_Company ) 
    div.form-group 
        label.GelAttr(for='Gel_Size') Gel Size 
        input#Gel_Size(type='number', name='Gel_Size', value= Gel_Size )
    div.form-group 
        label.GelAttr(for='Gel_Rating') Gel Rating 
        input#Gel_Rating(type='number', name='Gel_Rating', value= Gel_Rating)      
    input(type="submit") 
  script. 
    document.forms['GelForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });